/*! `Custom` Bootstrap 4 theme */
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);

$enable-grid-classes: false;
$primary: #003d6a;
$secondary: #868e96;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #343a40;
$enable-gradients: false;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: .25rem;
$lead-font-weight: 300;
@import "bootstrap";

// Add SASS theme customizations here..
