﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer id="footer" class="bg-primary text-light py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <h6 class="text-uppercase">Tools</h6>
                <ul class="nav flex-column">
                    <li><a class="text-white" target="ext" rel="nofollow" href="#" title="1">1</a></li>
                    <li><a class="text-white" target="ext" rel="nofollow" href="#" title="2">2</a></li>
                    <li><a class="text-white" target="ext" rel="nofollow" href="#" title="3">3</a></li>
                    <li><a class="text-white" target="ext" rel="nofollow" href="#">4</a></li>
                </ul>
            </div>
        </div>

        <!--/row-->
    </div>
</footer>