﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Rudai Identity Provider</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" />*@
    <link rel="stylesheet" href="theme.css" />
    <link rel="stylesheet" href="template3.css" />
    @*<link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />*@
</head>
<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <!-- Start Nav -->
    <partial name="_Nav" />
    <!-- End Nav -->
    <main>
        <section id="renderbody" class="container pb-5">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </section>
    </main>

    <!-- Start Footer -->
    <partial name="_Footer" />
    <!-- End Footer -->
    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="_content/MatBlazor/dist/matBlazor.js"></script>*@
    <script src="scripts.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

