﻿@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
    <div class="container">
        <a class="navbar-brand mr-1 mb-1 mt-0" href="../">Rudai Identity Provider</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="themesDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sample menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="themesDd">


                        <a class="dropdown-item px-2 " href="#">Logout</a>
                        @if (!string.IsNullOrWhiteSpace(name))
                        {
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        }

                        <a class="dropdown-item px-2 " href="#">Manage</a>


                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="layoutDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Another menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="layoutDd">
                        <a class="dropdown-item px-2" href="#">1</a>
                        <a class="dropdown-item px-2" href="#">2</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wherever</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#navs">Navs</a>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        And another menu
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDd">
                        <a class="dropdown-item px-2" href="#">a</a>
                        <a class="dropdown-item px-2" href="#">b &amp; 4</a>
                        <a class="dropdown-item px-2" href="#">c &amp; 5</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item px-2" href="#">Bla</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

