﻿
@page "/bookings"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Bookings</h1>


@if (@BookingsState.Value.IsLoading)
{
    <SpinnerComponent></SpinnerComponent>
}
else
{
    <MatTable Items="@BookingsState.Value.Bookings" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
            <td>@context.Description</td>
            <td>@context.BookingDate.ToShortDateString()</td>
        </MatTableRow>
    </MatTable>
    <div>
        <MatButton Raised="true" @onclick="AddBooking" Icon="add">Add new Booking</MatButton>

    </div>
}
