﻿
@page "/bookingdetailform/{Mode}/{BookingId}"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Booking detail form</h3>

@if (BookingState.Value.IsLoading)
{
    <Rudai.Things.Identity.BlazorClient.Shared.SpinnerComponent></Rudai.Things.Identity.BlazorClient.Shared.SpinnerComponent>
}
else if (!BookingState.Value.IsLoading)
{
    <EditForm Model="validationModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <p>
            <MatTextField Outlined="true" @bind-Value="validationModel.Title" Label="Title"></MatTextField>
            <ValidationMessage For="@(() => validationModel.Title)" />
        </p>
        <p>
            <MatTextField Outlined="true" @bind-Value="validationModel.Description" Label="Description"></MatTextField>
            <ValidationMessage For="@(() => validationModel.Description)" />
        </p>
        <p>
            <MatDatePicker Label="Tour Date" Maximum="DateTime.Now.AddDays(31)" Minimum="DateTime.Now.AddDays(1)" @bind-Value="BookingState.Value.SelectedBooking.BookingDate" Format="MMMM dd, yyyy"></MatDatePicker>
            <ValidationMessage For="@(() => validationModel.BookingDate)" />

        </p>
        <p>
            <MatButton Outlined="true" Icon="favorite">Cancel</MatButton>
            <MatButton Raised="true" Icon="tick">@Mode</MatButton>
        </p>
    </EditForm>
}