﻿@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/counter"

<h1 class="mat-h1">Counter</h1>

<div class="mat-body1">
    <p>Current count: @CounterState.Value.Count</p>
    <MatButton Outlined="true" @onclick="((MouseEventArgs e) => DecrementCount(e))" Icon="minus">-</MatButton>
    <MatButton Raised="true" @onclick="((MouseEventArgs e) => IncrementCount(e))" Icon="add"></MatButton>
</div>



