﻿@page "/"
<div class="mat-elevation-z24 homeTitle">
    <MatHeadline1 Class="homeTitle">A Tale of Two Cities</MatHeadline1>
    <MatH2 Class="homeTitle">Welcome to your new app.</MatH2>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell rudai-mat-card">
                <div class="mat-elevation-z24 homeBackground">
                    <MatCard class="rudai-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="/images/14169_Derry_Londonderry_Walls_.jpg"></MatCardMedia>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="rudai-mat-card-clean-margin">
                                    17th Century history
                                </MatHeadline6>
                                <MatSubtitle2 class="rudai-mat-card-clean-margin">
                                    by Billy Fountain
                                </MatSubtitle2>
                            </div>

                            <MatBody2 class="rudai-mat-card-content rudai-mat-card-clean-margin">
                                Religious strife, add odds with the Europeans even then, a siege and death toll.
                            </MatBody2>
                        </MatCardContent>
                    </MatCard>
                </div>
            </div>
            <div class="mat-layout-grid-cell rudai-mat-card">
                <div class="mat-elevation-z24 homeBackground">
                    <MatCard class="rudai-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="/images/Temple-in-Derry-2015.jpg"></MatCardMedia>
                            <div class="rudai-mat-card-content">
                                <MatHeadline6 class="rudai-mat-card-clean-margin">
                                    Staying, eating and drinking
                                </MatHeadline6>
                                <MatSubtitle2 class="rudai-mat-card-clean-margin">
                                    by Saoirse O Comain
                                </MatSubtitle2>
                            </div>

                            <MatBody2 class="rudai-mat-card-content rudai-mat-card-clean-margin">
                                Food, drink and accomodation with a list of things to  do.
                            </MatBody2>
                        </MatCardContent>
                    </MatCard>
                </div>
            </div>
            <div class="mat-layout-grid-cell rudai-mat-card">
                <div class="mat-elevation-z24 homeBackground">
                    <MatCard class="rudai-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="/images/Derry-fireworks-halloween.jpg"></MatCardMedia>
                            <div class="rudai-mat-card-content">
                                <MatHeadline6 class="rudai-mat-card-clean-margin">
                                    Civil Rights struggle
                                </MatHeadline6>
                                <MatSubtitle2 class="rudai-mat-card-clean-margin">
                                    by Tim Bogside
                                </MatSubtitle2>
                            </div>

                            <MatBody2 class="rudai-mat-card-content rudai-mat-card-clean-margin">
                                Museum of Free Derry, Bogside murals, Free Derry corner and theBattle of the Bogside.
                            </MatBody2>
                        </MatCardContent>
                    </MatCard>
                </div>
            </div>
        </div>
    </div>

    <SurveyPrompt Title="Do you have any questions about visiting Derry?" />

</div>

