﻿
@page "/schedules"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Schedules</h3>


@if (SchedulesState.Value.IsLoading)
{
    <SpinnerComponent></SpinnerComponent>
}
else
{
    <MatTable Items="@SchedulesState.Value.Schedules" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <th>Id</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Duration</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.StartDate</td>
            <td>@context.EndDate</td>
            <td>@context.Duration.ToString()</td>
        </MatTableRow>
    </MatTable>
    <div>
        <MatButton Raised="true" @onclick="AddSchedule" Icon="add">Add new Schedule</MatButton>

    </div>
}
