﻿@page "/tours"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<style>
    .tablebg {
        background-color: teal;
        color: white;
    }
    .mdc-table, .mdc-table--striped {
        width: 100%;
        max-width: 100%;
        background-color: teal;
        color: white;
        border-collapse: collapse;
        border-spacing: 0;
        display: inline-block;
        overflow-x: auto;
        margin: 8px 0 32px;
        border: 1px solid rgba(0,0,0,.1);
    }
</style>
<h1>Tours</h1>


@if (ToursState.Value.IsLoading)
{
    <SpinnerComponent></SpinnerComponent>
}
else
{
    <MatTable Items="ToursState.Value.Tours" class="mat-elevation-z5 tablebg" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
            <td>@context.Description</td>
            <td>@context.TourDate.ToShortDateString()</td>
        </MatTableRow>
    </MatTable>
    <div>
        <MatButton Raised="true" @onclick="AddTour" Icon="add">Add new Tour</MatButton>
    </div>
}
