﻿
@inherits LayoutComponentBase
@using Rudai.Things.Identity.BlazorClient.Store.UI
@using Rudai.Things.Identity.BlazorClient.Shared
<MatThemeProvider Theme="@SelectedTheme">
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" OnClick="ButtonClicked"></MatIconButton>
                    <MatAppBarTitle>Rudai - InDerry App</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.Start">
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <LoginDisplay></LoginDisplay>
                    <ThemeSwitcher SelectedTheme="@SelectedTheme"></ThemeSwitcher>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>
    </MatAppBarContainer>
    <NavMenu IsLeftDrawerOpen="@Opened" />

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

</MatThemeProvider>
@code
{

    public bool Opened { get; set; }

    BaseMatIconButton Button2;
    BaseMatMenu Menu2;
    public MatTheme SelectedTheme { get; set; }

    [Inject]
    public IState<UIState> UiState { get; set; }


    protected override void OnInitialized()
    {
        SelectedTheme = UiState.Value.CurrentTheme ?? UiState.Value.Themes[1];
        Opened = UiState.Value.IsLeftDrawerOpen;
        base.OnInitialized();
    }



    void ButtonClicked()
    {
        Opened = !Opened;
    }

}
