﻿
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Rudai.Things.Flux</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if (IsLeftDrawerOpen)
{
    <MatDrawerContainer>
        <MatDrawer @bind-Opened="@IsLeftDrawerOpen" Mode="@MatDrawerMode.Modal">
            <MatNavMenu>
                <MatNavItem OnClick="ClickMe" Title="IJSRuntime">IJSRuntime - OnClick</MatNavItem>
                <MatNavItem Href="/" Title="Home">Home</MatNavItem>
                <MatNavItem Href="/tours"><MatIcon Icon="grade"></MatIcon>&nbsp; Tours (@ToursState.Value.Tours.Count()) </MatNavItem>
                <MatDivider></MatDivider>
                <MatNavItem Href="/bookings"><MatIcon Icon="grade"></MatIcon>&nbsp; Bookings (@BookingsState.Value.Bookings.Count()) </MatNavItem>
                <MatDivider></MatDivider>
                <MatNavItem Href="/fetchdata"><MatIcon Icon="grade"></MatIcon>&nbsp; Fetch data (@WeatherForecastsState.Value.Forecasts.Count())</MatNavItem>
                <MatDivider></MatDivider>
                <MatNavItem Href="/counter"><MatIcon Icon="add"></MatIcon>&nbsp; Counter (@CounterState.Value.Count) </MatNavItem>
            </MatNavMenu>
        </MatDrawer>
        <MatDrawerContent>
            <div>
                <MatButton OnClick="@((e) => ButtonClicked())">Open Menu</MatButton>
            </div>
            <p>Page Content</p>
        </MatDrawerContent>
    </MatDrawerContainer>
}

