﻿
@*<div class="lds-ripple"><div>3</div><div></div>4</div>*@
<div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
