﻿@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MatIconButton OnClick="@OpenSwitcher" @ref="OpenSwitcherMenuButton" Icon="favorite"></MatIconButton>

<MatMenu @ref="ThemeMenu">
    <MatList @onchange="OnSelectTheme">
        <MatListItem OnClick="@SelectTheme">Theme 1></MatListItem>
        <MatListItem OnClick="@SelectTheme">Theme 2></MatListItem>
    </MatList>
    <MatSelectItem @bind-Value="@SelectedTheme" Items="@UIState.Value.Themes"></MatSelectItem>
</MatMenu>
