@model LoginViewModel

<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
        <p>Choose how to login</p>
    </div>
    <partial name="_LoginPartial" />
    <partial name="_ValidationSummary" />
    <div class="row">
        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Local Account</h2>
                    </div>

                    <div class="card-body">
                        <form asp-route="Login" role="form">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group row was-validated">
                                <label asp-for="Username" class="col-md-2 col-form-label form-control-label text-muted"></label>
                                <div class="col-lg-10">
                                    <input class="form-control" placeholder="Username" asp-for="Username" type="text" required="" id="Username" name="Username" autofocus>
                                    <div class="invalid-feedback">
                                        Username is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row was-validated">
                                <label asp-for="Password" class="col-lg-2 col-form-label form-control-label text-muted">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" required="" id="Password" name="Password" placeholder="Password" asp-for="Password" autocomplete="off">

                                    <div class="invalid-feedback">
                                        Password is required.
                                    </div>
                                </div>
                            </div>

                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        @*<input class="form-check-input custom-control-input" asp-for="RememberLogin">
                                            <label class="form-check-label col-md-2 col-form-label form-control-label text-muted" asp-for="RememberLogin">
                                                Remember My Login
                                            </label>*@
                                        <div class="custom-control custom-checkbox d-inline">
                                            <input type="checkbox" class="custom-control-input" asp-for="RememberLogin" id="RememberLogin" checked>
                                            <label class="custom-control-label" for="customCheck">Remember My Login</label>
                                        </div>
                                    </div>

                                </div>
                            }
                            <button class="btn btn-primary" name="button" value="login">Login</button>
                            <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                            <a class="btn btn-secondary" name="button" href="/Account/Register" value="register">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>